<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CompanyEndpoint" />
                <binding name="SecurityEndpoint" />
                <binding name="SystemEndpoint" />
                <binding name="ApplicantEndpoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/Design_Time_Addresses/CareerCloud.WCF/Company/"
                binding="basicHttpBinding" bindingConfiguration="CompanyEndpoint"
                contract="CompanyService.ICompany" name="CompanyEndpoint" />
            <endpoint address="http://localhost:8735/Design_Time_Addresses/CareerCloud.WCF/Security/"
                binding="basicHttpBinding" bindingConfiguration="SecurityEndpoint"
                contract="SecurityService.ISecurity" name="SecurityEndpoint" />
            <endpoint address="http://localhost:8736/Design_Time_Addresses/CareerCloud.WCF/System/"
                binding="basicHttpBinding" bindingConfiguration="SystemEndpoint"
                contract="SystemService.ISystem" name="SystemEndpoint" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CareerCloud.WCF/Applicant/"
                binding="basicHttpBinding" bindingConfiguration="ApplicantEndpoint"
                contract="ApplicantService.IApplicant" name="ApplicantEndpoint" />
        </client>
    </system.serviceModel>
</configuration>